:root {
    background: #edede9;
}

nav {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    padding: 0px 20px 30px 20px;
    align-items: baseline;
}

div ul li {
    display: inline;
    padding: 0.5em;
    font-size: 20px;
}

.nav-link {
    text-decoration: none;
    color: #212529;
    text-align: left;
}

div ul li:hover {
    box-shadow: 2px 2px 5px 5px rgba(150, 122, 161, 0.5);
    border-radius: 2px;
}

#titleCon {
    display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-size: 20px;
}

#introSection {
    display: flex;
    justify-content: center;
    height: 400px;
}
#firstDiv {
    width: 50%;
    font-size: 18px;
    text-align: justify;
}

#secondDiv img {
    height: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
}
#introSection2 {
    display: flex;
    align-items: center;
    height: 400px;

}

#introSection2 img {
    height: 100%;
    max-width: 60%;
    float: left;
    border-radius: 10px;
    margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 60px;
}

#threeDiv {
    
display: flex;
    align-items: center;
    font-size: 24px;
    text-align: right;

}

.padding-intro {
    padding: 5px 20px 5px 20px;
    margin: 40px 15px 10px 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 50px;
    text-align: center;
}

img {
    max-width: 100%;
    height: 300px;
    border-color: #212529;
    border-style: solid;
    object-fit: cover;
}

p {
    font-size: 20px;
    margin-top: 10px;
}

.image-overlay {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.image-overlay img {
    transition: transform 0.3s ease-in-out;
}

.image-overlay:hover img {
    transform: scale(1.2);
}

.image-overlay p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-overlay:hover p {
    opacity: 1;
}